{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}main{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "semantic/dist/semantic.min.css" %}"/>
    {% block styles %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "post:memo_list" %}">SimpleMemoApp</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url "post:memo_list" %}">Memo</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "post:memo_create" %}" class="btn btn-default">New Memo</a>
                {% if user.is_authenticated %}
                    <li><a href="{% url "accounts:profile_detail" %}">프로필</a></li>
                    <li><a href="{% url "accounts:logout" %}?next={{ request.path }}">로그아웃</a></li>
                {% else %}
                    <li><a href="{% url "accounts:login" %}?next={{ request.path }}">로그인</a></li>
                    <li><a href="{% url "accounts:signup" %}">회원가입</a></li>
                {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "semantic/dist/semantic.min.js" %}"></script>
{% block scripts %}{% endblock %}

</html>